---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Journey Through the <strong>Stars</strong></h1>
<p>Not even an infinite lifetime would be long enough to see everything this universe has to offer. Every day among the stars presents new discoveries and wonders to behold. As my time traveling through interstellar space continues, I will share my findings here.</p>
  <nav>
    <ul>
      <li><a href="/blog1/" title="A Stranger's World">Blog#1</a></li>
      <li><a href="/blog2/" title="Passing the Void">Blog#2</a></li>
    </ul>
  </nav>
<img alt="pine" src="/images/EarthShown.png" width="50" />