---
title: 11ty Boilerplate
---

<!-- ChatGPT "i need two blog posts written from the perspective of a lone human interstellar explorer, one about a new strange planet, and the other about passing by a black hole" -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/blog1/" title="A Stranger's World">Blog#1</a></li>
      <li><a href="/blog2/" title="Passing the Void">Blog#2</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>
    {{ content }}
</body>
</html>